@using VersionValidateResultModel = WotPersonalDataCollectorWebApp.Models.VersionValidateResultModel
@model IEnumerable<VersionValidateResultModel>
@{
	ViewData["Title"] = "WPD - Versions validation";
	int validationNumber = 1;
}
<div class="container">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="row text-center border-bottom border-2 border-dark mb-2">
				<h4>Validation result</h4>
			</div>
			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-2"></div>
						<div class="col-8">
							<div class="container">
								@if (Model.Any() == false)
								{
									<div class="row align-content-center mt-4 text-center">
										<p>No validation result available. Go to validation page and request data validation</p>
									</div>
								}
								else
								{
									@foreach (var validationResult in Model)
									{
										<div class="row align-content-center mt-4">
											<table class="table align-content-center">
												<tr class="bg-info bg-gradient">
													<td class="text-center" colspan="2">Validation Number @validationNumber</td>
												</tr>
												<tr>
													<td>Validation Date</td>
													<td class="text-end">@validationResult.ValidationDate</td>
												</tr>
												<tr>
													<td>Status</td>
													@{
														if (validationResult.WasValidationCanceled)
														{
															<td class="text-end">Cancelled</td>
														}
														else
														{
															<td class="text-end">Completed</td>
														}
													}
												</tr>
												<tr>
													<td>Total Objects</td>
													<td class="text-end">@Html.DisplayFor(m => validationResult.TotalItemsInCosmosDb)</td>
												</tr>
												<tr>
													<td>Valid</td>
													<td class="text-end">@Html.DisplayFor(m => validationResult.CorrectVersionDtoCount)</td>
												</tr>
												<tr>
													<td>Invalid</td>
													<td class="text-end">@Html.DisplayFor(m => validationResult.WrongVersionDtoCount)</td>
												</tr>
												<tr>
													<td>Unrecognizable Objects</td>
													<td class="text-end">@Html.DisplayFor(m => validationResult.WrongObjectsCount)</td>
												</tr>
											</table>
										</div>
										validationNumber++;
									}
								}
							</div>
						</div>
					</div>
					<div class="col-2"></div>
				</div>
			</div>
			<div class="row text-center border-top border-2 border-dark mb-2">
				<a class="btn btn-sm btn-secondary align-middle" asp-action="Index">Return to validation page</a>
			</div>
		</div>
	</div>
	<div class="col-2"></div>
</div>
