@using VersionValidateResultModel = WotPersonalDataCollectorWebApp.Models.VersionValidateResultModel
@model VersionValidateResultModel
@{
	ViewData["Title"] = "WPD - Versions validation result";
}
<div class="container">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="row text-center border-bottom border-2 border-dark mb-2">
				<h4>Last validation result</h4>
			</div>
			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-6">
							<div class="container">
								<div class="row align-content-center">
									<table class="table align-content-center">
										<tr>
											<td>Validation Date</td>
											<td>@Model.ValidationDate</td>
										</tr>
										<tr>
											<td>Status</td>
											@{
												if (Model.WasValidationCanceled)
												{
													<td>Cancelled</td>
												}
												else
												{
													<td>Completed</td>
												}
											}
										</tr>
										<tr>
											<td>Total Objects</td>
											<td>@Html.DisplayFor(m => m.TotalItemsInCosmosDb)</td>
										</tr>
										<tr>
											<td>Valid</td>
											<td>@Html.DisplayFor(m => m.CorrectVersionDtoCount)</td>
										</tr>
										<tr>
											<td>Invalid</td>
											<td>@Html.DisplayFor(m => m.WrongVersionDtoCount)</td>
										</tr>
										<tr>
											<td>Unrecognizable Objects</td>
											<td>@Html.DisplayFor(m => m.WrongObjectsCount)</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<form method="get" asp-action="RequestValidationProcess">
							<div class="col-6">
								<input type="submit" class="btn btn-dark" value="check ver"/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
</div>